
.app-body {
  display: flex;
}

.crud {

  &__actions {
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
  }

  &__list {
  }

  &__edit-form {
    margin-top: 2em;
    width: 650px;
  }
}
