
$primary-color: #1779ba;
$light-gray: #e6e6e6;
$dark-gray: #8a8a8a;


$app-sidebar-color: #f8f8f8;
$app-header-color: gainsboro;
$app-header-height: 64px;
$app-x-margin: 16px;
$app-sidebar-width: 250px;
